In [3]:
import pandas as pd
import numpy as np

In [16]:
student_data = pd.read_csv("random_database.csv")

In [17]:
student_data.head()

               Name  Class Section House Color
0         Mary Niss      1       E       Green
1    Jerold Boelter      9       B      Yellow
2   Robert Cantrell      6       A         Red
3   Felicia Johnson      8       B       Green
4  Charles Kirkwood     10       A      Yellow

In [4]:
student_data['Section']

0     E
1     B
2     A
3     B
4     A
     ..
95    E
96    D
97    C
98    E
99    D
Name: Section, Length: 100, dtype: object

In [6]:
np.unique(np.array(student_data['Section']))

array(['A', 'B', 'C', 'D', 'E'], dtype=object)

In [21]:
def ordinal(data,feature):
    ordinals = np.array(data[feature])
    indexMap = np.unique(ordinals)
    ordinalMap = pd.Series(range(1,len(indexMap)+1), index=indexMap)
    encoded = ordinalMap.loc[ordinals]
    data[feature+'_encoded'] = np.array(encoded)

In [22]:
ordinal(student_data, 'Section')

In [24]:
print([1 if x=='Green' else 0 for x in student_data['House Color']])

[1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0]

In [27]:
def oneHOT(data,feature):
    values = np.array(data[feature])
    indexMap = np.unique(values)
    listOfoneHOTextentions = [np.array([1 if x==val else 0 for x in data[feature]]) for val in indexMap]
    #print(listOfoneHOTextentions)
    for i,encoded_HOT in zip(indexMap,listOfoneHOTextentions):
        data[i+'_HOT'] =  encoded_HOT

In [28]:
oneHOT(student_data, 'House Color')

In [30]:
student_data.head(20)

,Name,Class,Section,House Color,Section_encoded,Blue_HOT,Green_HOT,Red_HOT,Yellow_HOT
0,Mary Niss,1,E,Green,5,0,1,0,0
1,Jerold Boelter,9,B,Yellow,2,0,0,0,1
2,Robert Cantrell,6,A,Red,1,0,0,1,0
3,Felicia Johnson,8,B,Green,2,0,1,0,0
4,Charles Kirkwood,10,A,Yellow,1,0,0,0,1
5,Loretta Ortiz,8,A,Green,1,0,1,0,0
6,Mike Wesley,2,A,Blue,1,1,0,0,0
7,Esther Smith,5,D,Blue,4,1,0,0,0
8,Valerie Gamble,2,E,Green,5,0,1,0,0
9,Latoya Mulcahy,11,A,Blue,1,1,0,0,0
10,Terry Fitzhugh,8,C,Green,3,0,1,0,0
11,Bobbie Grant,12,B,Blue,2,1,0,0,0
12,Bernard Davis,11,C,Red,3,0,0,1,0
13,Herbert Czech,2,C,Red,3,0,0,1,0
14,Ralph Ruffin,7,D,Blue,4,1,0,0,0
15,Jeffrey Ramsey,10,C,Yellow,3,0,0,0,1
16,Jill Jordan,4,B,Blue,2,1,0,0,0
17,Jessica Young,7,C,Yellow,3,0,0,0,1
18,Edna Landers,7,A,Green,1,0,1,0,0
19,Josephine Tillman,7,D,Red,4,0,0,1,0